@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Avenir');


/* General Layout */


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1 {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: lighter;
	color: #000000;
	margin: 0px;
}

p {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: lighter;
	color: #000000;
}

body {
	background-color: rgb(255, 255, 251);
	/* scale: 1.2; */
	/* padding-top: 50px; */
	display: flex;
	justify-content: center;
	
	/* align-items: flex-start; */
}

#container {
	width: 1200px;
	/* height: 1000px; */
	/* margin: 0 auto; */
	/* float: left; */
	align-items: center;
	justify-content: space-between;
}

/* Navigation Bar */

#navigation {
	float: left;
	width: 300px;
	height: 400px;
}
#navigation li {
	list-style-type: none;
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 55px;
	margin-left: 8px;
	text-shadow: 0px 0px 8px  rgba(0, 0, 0, 0.08);
}
#navigation a {
	text-decoration: none;
	color: #000000;
}
#navigation a:hover {
	text-decoration: none;
	color: #959595;
}
#navigation img {
	margin-top: 45px;
	margin-left: 45px;
	box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.2);
}

/* Content Layout */

#contentContainer {
	float: right;
    width: 650px;
    height: 633px;
    overflow: auto;
    padding-right: 10px;
    margin-top: 60px;
	margin-right: 60px;
    scrollbar-width: thin;
    scrollbar-color: rgb(57, 68, 50) thin;
}

/* WebKit Scrollbar Styling */
#contentContainer::-webkit-scrollbar {
    width: 4px; /* Adjust the width of the scrollbar */
}

#contentContainer::-webkit-scrollbar-thumb {
    background-color: rgb(34, 50, 34); /* Color of the thumb */
}

#contentContainer::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the track */
}

#contentContainer h1{
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	color: #304E48;
	margin: 0px;
}

.serviceName {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
	font-weight: 600;
    color: #304E48;
    float: left; /* Align to the left */
    clear: left; /* Clear the float to ensure the next element starts on a new line */

}

.servicePrice {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
	font-weight: 600;
    color: #304E48;
    float: right; /* Align to the right */
    clear: right; /* Clear the float to ensure the next element starts on a new line */
	margin-bottom: 10px;
}



#contentContainer p{
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	margin: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
}

#contentContainer table {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
	width: 320px;
}

#contact-container {
	height: 650px;
	display: grid;
	align-items: center;
	justify-content: end;
	padding: 5%;
	
}

#contact-container p {
	text-align: right;
	line-height: 22px;
}

#contact-image-container {
	display: flex;
	justify-self: flex-end;
	align-items: end;
	height: 145px;
	width: auto;
}

/* Gallery */

.gallery-container {
	display: grid;
  	justify-content: flex-end;
	padding-top: 100px;
	padding-bottom: 20px;
	height: 350px;
	width: 780px;

}

#featuredImageContainer {
	max-width: auto;
	height: 320px;
}

#featuredImage {
	float: right;
	width: auto;
	height: 320px;
	box-shadow: 0px 6px 24px  rgba(0, 0, 0, 0.401);
	animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#featured-image-footer {
	width: auto;
	height: 40px;
}

#caption-right {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: end;
	font-size: 11px;
	padding-top: 8px;
}

#thumbnail-container {
	display: flex;
	justify-content: flex-end;
	width: 700px;
	height: 30px;
	padding-top: 40px;
	overflow-x: hidden;
}


#thumbnailBar {
	display: flex;
	align-content: center;
	align-items: center;
	/* box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.486); */
	
}

#thumbnailBar img {
	width: 60px;
	height: 22px;
	object-fit: cover;
	margin-right: 1px; /* Add a small margin between thumbnails */

}

/* special */

#ironwood-btn {
	
}





/* #featured-thumb {
	scale: 1.5;
} */

/* .arrowButton {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 16px;
	color: #000000;
	margin-top: 5px;
} */


/* #prevButton {
	position: absolute;
	left: 0;

}

#nextButton {
	position: absolute;
	right: 0;

} */

/* #captionLeft {
	position: absolute;
	text-align: right;
} */












/* h1 {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: lighter;
	color: #304E48;
	margin: 0px;
}


body {
	display: flex;
	justify-content: center;
}


#navigation {
	float: left;
	width: 300px;
	height: 400px;
}
#navigation li {
	list-style-type: none;
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 55px;
	margin-left: 8px;
}
#navigation a {
	text-decoration: none;
	color: #003300;
}
#navigation a:hover {
	text-decoration: none;
	color: #959595;
}
#navigation img {
	margin-top: 45px;
	margin-left: 45px;
}

#navigation {
	width: 300px;
	float: left;
}

#image_gallery {
	bottom: 0px;
	visibility: visible;
	height: 0px;
}
#P7ShowPL1 img {
	border: solid 1px #000000;
}
#P7ShowPL2 img {
	border: solid 1px #000000;
}
#P7ShowPL3 img {
	border: solid 1px #000000;
}
#P7ShowPL4 img {
	border: solid 1px #000000;
}
#P7ShowPL5 img {
	border: solid 1px #000000;
}
#P7ShowPL6 img {
	border: solid 1px #000000;
}
#P7ShowPL7 img {
	border: solid 1px #000000;
}
#P7ShowPL7 img {
	border: solid 1px #000000;
}
#P7ShowPL8 img {
	border: solid 1px #000000;
}
#P7ShowPL9 img {
	border: solid 1px #000000;
}
#P7ShowPL10 img {
	border: solid 1px #000000;
}
#P7ShowPL11 img {
	border: solid 1px #000000;
}
#P7ShowPL12 img {
	border: solid 1px #000000;
} */



/* profile page */

/* #profile_info {
	float: right;
	width: 350px;
	height: 455px;
	overflow: auto;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-top: 78px;
}
#profile_info p {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	padding-top: 5px;
	padding-bottom: 15px;
	margin: 0px;
	padding-right: 0px;
	padding-left: 0px;
}


#profile_image img {
	border: solid 1px #000000
}
#profile_info a {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	color: #3366CC;
	display: inline-block;
}
#profle_info a:hover {
	font-size: 10px;
	font-weight: bold;
	color: #959595;
} */
/* philosopy page */
/*
#philosophy_info {
	float: right;
	width: 350px;
	height: 468px;
	overflow: auto;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-top: 60px;
}
.tableHeadings {
	font-size: 10px;
	font-weight: bold;
}
#contentContainer p{
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	margin: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
}
#contentContainer table {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	width: 320px;
}
h1 {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #304E48;
	margin: 0px;
	padding: 0px;
}
#philosophy_info li {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 22px;
}
#philosophy_info a {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	color: #3366CC;
}
#philosophy_info a:hover {
	font-size: 10px;
	font-weight: bold;
	color: #959595;
}
#philosophy_info #ironwood {
	float: left;
	padding: 0px;
	margin-top: 100px;
}
#philosophy_info #gallerywindow {
	width: 90px;
	float: right;
	padding: 0px;
	margin-top: -30px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#philosophy_info h2 {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #304E48;
}
#philosophy_info a:hover {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #959595;
	font-weight: bold;
}
#philosophy_image img {
	border: solid 1px #000000
}

*/

/* drawings page */

/* #drawings_info p{
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 22px;
}

#drawings_info h1{
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #304E48;
	margin-bottom: -10px;
} */

/* services page */

/* #services_info {
	float: right;
	width: 350px;
	height: 455px;
	overflow: auto;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-top: 78px;
}
#services_info a {
	color: #3366cc;
	text-decoration: none;
	font-weight: bold;
}
#services_info a:hover {
	color: #959595;
}
.alignlt {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	float: left;
	margin-top: 0px;
}

*
.alignrt {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	float: right;
	margin-top: 0px;
}
#services_info p{
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	margin: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
}
#services_info h1{
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #304E48;
	margin: 0px;
	padding: 0px;
}
#services_image img {
	border: solid 1px #000000
}
.alignleft {
	float: left;
	width: 175px;
}
.alignright {
	float: left;
	width: 160px;
}
#services_info #processFlowchart {
	font-size: 10px;
	font-weight: bold;
	font-family: Avenir, Verdana, Geneva, sans-serif;
	height: 25px;
} */

/* contact page */

/* #contact_info {
	float: right;
	width: 350px;
	height: 455px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-top: 78px;
}
#contact_info p{
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 22px;
}
#contact_info h1{
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #304E48;
	margin-bottom: -10px;
}
#contact_image img {
	border: solid 1px #000000
}
#left_images {
	width: 350px;
	padding: 0px;
	float: left;
	margin-top: 45px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 45px;
}
#left_images table {
	margin-top: 20px;
}
p {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
html {
	margin: 0px;
	padding: 0px;
}
#image_nav img {
	float: left;
	margin-top: 30px;
	margin-left: 90px;
}
#close_window {
	width: 800px;
	padding: 0px;
	margin-top: 400px;
	text-align: center;
	clear: both;
	float: left;
}
.rtarrow {
	margin-top: 519px;
	float: right;
	width: 62px;
	font-size: 16px;
}
.rtarrow a {
	text-decoration: none;
	color: #000;
}
.ltarrow {
	margin-top: 521px;
	font-size: 16px;
	padding-left: 54px;
}
.ltarrow a {
	color: #000;
	text-decoration: none;
} */









