@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Avenir');
/* CSS Document */

h1 {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: lighter;
	color: #304E48;
	margin: 0px;
}	


body {
	display: flex;
	justify-content: center; /* Center the content horizontally */
	align-items: flex-start; /* Align content to the top */
}



/* #navigation {
	float: left;
	width: 300px;
	height: 400px;
}
#navigation li {
	list-style-type: none;
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 55px;
	margin-left: 8px;
}
#navigation a {
	text-decoration: none;
	color: #003300;
}
#navigation a:hover {
	text-decoration: none;
	color: #959595;
}
#navigation img {
	margin-top: 45px;
	margin-left: 45px;
}

#navigation {
	width: 300px;
	float: left;
} */

/* #image_gallery {
	bottom: 0px;
	visibility: visible;
	height: 0px;
}
#P7ShowPL1 img {
	border: solid 1px #000000;
}
#P7ShowPL2 img {
	border: solid 1px #000000;
}
#P7ShowPL3 img {
	border: solid 1px #000000;
}
#P7ShowPL4 img {
	border: solid 1px #000000;
}
#P7ShowPL5 img {
	border: solid 1px #000000;
}
#P7ShowPL6 img {
	border: solid 1px #000000;
}
#P7ShowPL7 img {
	border: solid 1px #000000;
}
#P7ShowPL7 img {
	border: solid 1px #000000;
}
#P7ShowPL8 img {
	border: solid 1px #000000;
}
#P7ShowPL9 img {
	border: solid 1px #000000;
}
#P7ShowPL10 img {
	border: solid 1px #000000;
}
#P7ShowPL11 img {
	border: solid 1px #000000;
}
#P7ShowPL12 img {
	border: solid 1px #000000;
} */



/* profile page */

#profile_info {
	float: right;
	width: 350px;
	height: 455px;
	overflow: auto;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-top: 78px;
}
#profile_info p {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	padding-top: 5px;
	padding-bottom: 15px;
	margin: 0px;
	padding-right: 0px;
	padding-left: 0px;
}


#profile_image img {
	border: solid 1px #000000
}
#profile_info a {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	color: #3366CC;
	display: inline-block;
}
#profle_info a:hover {
	font-size: 10px;
	font-weight: bold;
	color: #959595;
}
/* philosopy page */
/*
#philosophy_info {
	float: right;
	width: 350px;
	height: 468px;
	overflow: auto;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-top: 60px;
}
.tableHeadings {
	font-size: 10px;
	font-weight: bold;
}
#contentContainer p{
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	margin: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
}
#contentContainer table {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	width: 320px;
}
h1 {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #304E48;
	margin: 0px;
	padding: 0px;
}
#philosophy_info li {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 22px;
}
#philosophy_info a {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	color: #3366CC;
}
#philosophy_info a:hover {
	font-size: 10px;
	font-weight: bold;
	color: #959595;
}
#philosophy_info #ironwood {
	float: left;
	padding: 0px;
	margin-top: 100px;
}
#philosophy_info #gallerywindow {
	width: 90px;
	float: right;
	padding: 0px;
	margin-top: -30px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#philosophy_info h2 {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #304E48;
}
#philosophy_info a:hover {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #959595;
	font-weight: bold;
}

#philosophy_image img {
	border: solid 1px #000000;
	width: 450px;
	height: auto;
}

*/


/* drawings page */

#drawings_info p{
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 22px;
}

#drawings_info h1{
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #304E48;
	margin-bottom: -10px;
}

/* services page */

/* #services_info {
	float: right;
	width: 350px;
	height: 455px;
	overflow: auto;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-top: 78px;
}
#services_info a {
	color: #3366cc;
	text-decoration: none;
	font-weight: bold;
}
#services_info a:hover {
	color: #959595;
}
.alignlt {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	float: left;
	margin-top: 0px;
}

*
.alignrt {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	float: right;
	margin-top: 0px;
}
#services_info p{
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	margin: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
}
#services_info h1{
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #304E48;
	margin: 0px;
	padding: 0px;
}
#services_image img {
	border: solid 1px #000000
}
.alignleft {
	float: left;
	width: 175px;
}
.alignright {
	float: left;
	width: 160px;
}
#services_info #processFlowchart {
	font-size: 10px;
	font-weight: bold;
	font-family: Avenir, Verdana, Geneva, sans-serif;
	height: 25px;
} */

/* contact page */

/* #contact_info {
	float: right;
	width: 350px;
	height: 455px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-top: 78px;
}
#contact_info p{
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 22px;
}
#contact_info h1{
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #304E48;
	margin-bottom: -10px;
} 
#contact_image img {
	border: solid 1px #000000
}
#left_images {
	width: 350px;
	padding: 0px;
	float: left;
	margin-top: 45px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 45px;
}
#left_images table {
	margin-top: 20px;
}
p {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
html {
	margin: 0px;
	padding: 0px;
}
#image_nav img {
	float: left;
	margin-top: 30px;
	margin-left: 90px;
}
#close_window {
	width: 800px;
	padding: 0px;
	margin-top: 400px;
	text-align: center;
	clear: both;
	float: left;	
}
.rtarrow {
	margin-top: 519px;
	float: right;
	width: 62px;
	font-size: 16px;
}
.rtarrow a {
	text-decoration: none;
	color: #000;
}
.ltarrow {
	margin-top: 521px;
	font-size: 16px;
	padding-left: 54px;
}
.ltarrow a {
	color: #000;
	text-decoration: none;
}

*/





/* New Stuff */

/* General Layout */

h1 {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: lighter;
	color: #000000;
	margin: 0px;
}	


body {
	display: flex;
	justify-content: center; /* Center the content horizontally */
	align-items: flex-start; /* Align content to the top */
}

#container {
	width: 1800px;
	margin: 0 auto; /* Center the container */
	float: left; /* Use flexbox to create a horizontal layout */
	align-items: center; /* Center items vertically within the container */
	justify-content: space-between;
}

/* Navigation Bar */

#navigation {
	float: left;
	width: 600px;
	height: 800px;
}
#navigation li {
	list-style-type: none;
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 28px;
	line-height: 110px;
	margin-left: 8px;
}
#navigation a {
	text-decoration: none;
	color: #003300;
}
#navigation a:hover {
	text-decoration: none;
	color: #959595;
}
#navigation img {
	margin-top: 45px;
	margin-left: 45px;
	width: 440;
	height: 44;
}

#navigation-image img{
	border: solid 1px #000000;
	width: 450px;
	height: auto;
}

/* Content Layout */

#contentContainer {
    float: right;
    width: 900px;
    height: 1400px;
    overflow: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 95px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 60px;

    /* WebKit Scrollbar Styling */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: rgb(57, 68, 50) thin; /* For Firefox */
}

/* WebKit Scrollbar Styling */
#contentContainer::-webkit-scrollbar {
    width: 4px; /* Adjust the width of the scrollbar */
}

#contentContainer::-webkit-scrollbar-thumb {
    background-color: rgb(34, 50, 34); /* Color of the thumb */
}

#contentContainer::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the track */
}

#contentContainer h1{
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bolder;
	color: #304E48;
	margin: 0px;
}

.serviceName {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 24px;
	font-weight: 600;
	line-height: 40px;
    color: #304E48;
    float: left; /* Align to the left */
    clear: left; /* Clear the float to ensure the next element starts on a new line */
	
}

.servicePrice {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 24px;
	font-weight: 500;
	line-height: 40px;
    color: #304E48;
    float: right; /* Align to the right */
    clear: right; /* Clear the float to ensure the next element starts on a new line */
	margin-bottom: 10px;
}



#contentContainer p{
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 26px;
	line-height: 38px;
	margin: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
}

#contentContainer table {
	font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	line-height: 36px;
	width: 640px;
	height: 400px;
}

/* Gallery */

#galleryContainer {
	display: flex;
	flex-direction: column;
	align-items:start
	padding-top: 100px;
	padding-bottom: 50px;
	height: 700px;
	width: 1000px;
	position: relative;
}

#featuredImageContainer {
	max-width: 100px;
	height: 600px; /* Set a maximum height, adjust as needed */
	border: 1px solid #333;
}

#featuredImage {
	max-width: 1000px;
	height: 100%;
}

#thumbnailBar {
	display: flex;
	overflow-x: auto;
	position: absolute;
	bottom: 0;
	align-self: center;
	
	transition: transform 0.3s ease; /* Add a smooth transition for the transform property */
  }

#thumbnailBar img {
	width: 120px;
	height: 44px;
	object-fit: cover;
	margin-right: 1px; /* Add a small margin between thumbnails */
}

.arrowButton {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 28px;
	color: #000000; /* Change color as desired */
	margin-top: 5px; /* Adjust the margin for better alignment with the thumbnails */
}


#prevButton {
	position: absolute;

	left: 0; /* Push the Previous button to the left */
	bottom: 0;
}

#nextButton {
	position: absolute;
	right: 0;
	bottom: 0;
}

#captionLeft {
	position: absolute;
	text-align: left;
}

#captionRight {
	position: absolute;
	text-align: right;
}

