@charset "UTF-8";
/* CSS Document */

h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #3366cc;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
}
#container img {
	float: left;
	margin-top: 0px;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	clear: both;
}
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	padding-right: 15px;
	padding-left: 15px;
}
#container {
	height: 510px;
	width: 492px;
	padding: 0px;
	border: 4px solid #000000;
	background-color: #FFFFED;
	background-position: center center;
	margin: auto;
}
#close_window {
	width: 492px;
	padding: 0px;
	margin-top: 0px;
	text-align: center;
	clear: both;
	float: left;	
}
